# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = Project_1_568.settings

[deploy]
#url = http://localhost:6800/
project = Project_1_568
